@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  padding: 20px;
  color: white;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

body::before {
  content: ""; /* Create a pseudo-element */
  display: block;
  position: absolute; /* Position it absolutely */
  top: 0;
  left: 0;
  width: 100%; /* Cover the entire body */
  height: 100%;
  filter: blur(15px); /* Apply the blur effect to the pseudo-element */
  z-index: -1; /* Place the pseudo-element behind the content */
  background: url("./assets/background-image.jpg") no-repeat center fixed;
  background-size: cover;
}
